.fs-45 {
    @include fs-45;
    font-family: 'Guardian Egyptian Web';
}

.fs-20 {
    @include fs-20;
}

.fs-20-l {
    @include fs-20-l;
    letter-spacing: 1px;
}

.fs-20-Benton-R {
    @include fs-20-Benton-R;
}

.mobile-hero-image {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        max-width: 480px;
        width: 100%;
        margin: 0 auto
    }
}

.show-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.hide-mobile {
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nobr {
    white-space: nowrap;
    @media screen and (max-width: 767px) {
        white-space: normal;
    }
}

.hide-mobile-arrow {
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.display-block {
    display: block;
}