.logo-border {
    border-bottom: 2px solid #00175A;

    .logo {
        padding: 20px 0;
        @media screen and (max-width: 767px) {
            padding-left: 20px;
            width: 244px;
            height: auto;
        }
    }
}

.hero-background {
    background: url("../images/amex-hero.jpg") no-repeat top center;
    background-size: cover;
    color: $white;
    border-top: 2px solid $white;
    @media screen and (max-width: 767px) {
        background: none;
    }

    .hero-container {
        @media screen and (max-width: 767px) {
            background-color: #152025;
            background-image: url("../images/amex-mobile-bg.jpg") ;
            background-size: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
        }
    }

    .blue-box {
        position: absolute;
        left: 0px;
        top: 25px;
        width: 100%;
        max-width: 760px;
        height: 82%;
        opacity: 0.8;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00175a+0,002652+100 */
        background: #00175a; /* Old browsers */
        background: -moz-linear-gradient(top,  #00175a 0%, #002652 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #00175a 0%,#002652 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #00175a 0%,#002652 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00175a', endColorstr='#002652',GradientType=0 ); /* IE6-9 */

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .hero-content {
        padding: 50px 0 110px 0;
        position: relative;
        @media screen and (max-width: 767px) {
            padding: 0px 0px 66% 0px;
        }

            .blue-box-mobile {
                @media screen and (max-width: 767px) {
                    position: relative;
                    padding: 25px 20px 25px 20px;
                    border-top: 20px solid #152025;
                }
                .blue-box-mobile-bg {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 96%;
                    height: 100%;
                    opacity: 0.7;
                    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00175a+0,002652+100 */
                    background: #00175a; /* Old browsers */
                    background: -moz-linear-gradient(top,  #00175a 0%, #002652 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #00175a 0%,#002652 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #00175a 0%,#002652 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00175a', endColorstr='#002652',GradientType=0 ); /* IE6-9 */
                }

                .hero-content-holder {
                    position: relative;
                }
                .healdline-decorative-1 {
                    opacity: 0.5;
                    position: relative;
                    padding: 0 0 0 90px;
                    letter-spacing: 0;
                    @media screen and (max-width: 767px) {
                        padding: 0 0 0 50px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 78px;
                        background: $white;
                        left: 0px;
                        top: 10px;
                        @media screen and (max-width: 767px) {
                            width: 40px;
                            top: 7px;
                        }
                    }
        
                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 78px;
                        background: $white;
                        left: 0px;
                        top: 20px;
                        @media screen and (max-width: 767px) {
                            width: 40px;
                            top: 13px;
                        }
                    }
                    
                }
        
                p {
                    margin: 38px 0 30px 0;
                    padding-bottom: 30px;
                    border-bottom: 1px solid $white;
                    max-width: 545px;
                    width: 100%;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        padding: 0 20px 20px 0;
                        margin: 20px 0;
                        border-bottom: 1px solid $white;
                    }
        
                    span {
                        font-family: 'BentonSansMedium';
                    }
                }
        
                a {
                    color: $white;
                    font-family: 'BentonSans';
                    text-decoration: none;
                    font-size: 20px;
                    line-height: 30px;
                    max-width: 450px;
                    width: 100%;
                    display: block;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        font-size: 15px;
                        line-height: 23px;
                        padding-right: 15%;
                    }
                    
                    span {
                        width: 22px;
                        height: 22px;
                        vertical-align: middle;
                        display: inline-block;
                        position: relative;
                        transition: all .5s ease 0s;
                        background: url(../images/svg/circle_amex.png) no-repeat;
                        background-size: contain;
        
                        img {
                            position: absolute;
                            margin: auto;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            transition: all .5s ease 0s;
                        }
                    }
                    &:hover > span {
                        opacity: 1;
                    }
        
                    &:hover > span img {
                        top: 5px
                    }
            }

        
        }
    }
}