.logo-border {
    border-bottom: 2px solid #00175A;

    .logo {
        padding: 20px 0;
        @media screen and (max-width: 767px) {
            padding-left: 20px;
            width: 244px;
            height: auto;
        }
    }
}

.hero-background {
    background: url("../images/amex-hero.jpg") no-repeat top center;
    background-size: cover;
    color: $white;
    border-top: 2px solid $white;
    @media screen and (max-width: 767px) {
        background: none;
    }

    .hero-container {
        @media screen and (max-width: 767px) {
            background-color: #152025;
            background-image: url("../images/amex-mobile-bg.jpg") ;
            background-size: 100%;
            background-position: center bottom;
            background-repeat: no-repeat;
        }
    }

    .blue-box {
        background: url("../images/bluebox.png") no-repeat top center;
        position: absolute;
        left: 0px;
        top: 25px;
        width: 100%;
        max-width: 760px;
        height: 80%;
        opacity: 0.8;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .hero-content {
        padding: 50px 0 110px 0;
        position: relative;
        @media screen and (max-width: 767px) {
            padding: 0px 0px 66% 0px;
        }

            .blue-box-mobile {
                @media screen and (max-width: 767px) {
                    background: url("../images//bluebox-mobile.png") top left;
                    background-repeat: repeat-y;
                    background-size: 100%;
                    padding: 25px 20px 25px 20px;
                    border-top: 20px solid #152025;
                }
                .healdline-decorative-1 {
                    opacity: 0.5;
                    position: relative;
                    padding: 0 0 0 90px;
                    letter-spacing: 0;
                    @media screen and (max-width: 767px) {
                        padding: 0 0 0 50px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 78px;
                        background: $white;
                        left: 0px;
                        top: 10px;
                        @media screen and (max-width: 767px) {
                            width: 40px;
                            top: 7px;
                        }
                    }
        
                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 78px;
                        background: $white;
                        left: 0px;
                        top: 20px;
                        @media screen and (max-width: 767px) {
                            width: 40px;
                            top: 13px;
                        }
                    }
                    
                }
        
                p {
                    margin: 38px 0;
                    max-width: 575px;
                    width: 100%;
                    @media screen and (max-width: 767px) {
                        padding: 0 20px 20px 0;
                        margin: 20px 0;
                        border-bottom: 1px solid $white;
                    }
        
                    span {
                        font-family: 'BentonSansMedium';
                    }
                }
        
                a {
                    color: $white;
                    font-family: 'BentonSans';
                    text-decoration: none;
                    font-size: 20px;
                    max-width: 450px;
                    width: 100%;
                    display: block;
                    position: relative;
                    @media screen and (max-width: 767px) {
                        font-size: 15px;
                        line-height: 23px;
                        padding-right: 15%;
                    }
                    
                    span {
                        width: 22px;
                        height: 22px;
                        vertical-align: middle;
                        display: inline-block;
                        position: relative;
                        transition: all .5s ease 0s;
                        background: url(../images/svg/circle_amex.png) no-repeat;
                        background-size: contain;
        
                        img {
                            position: absolute;
                            margin: auto;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            transition: all .5s ease 0s;
                        }
                    }
                    &:hover > span {
                        opacity: 1;
                    }
        
                    &:hover > span img {
                        top: 5px
                    }
            }

        
        }
    }
}