.resy-power {
    margin-top: 110px;
    background-size: cover;
    color: $white;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 1023px) {
        background: url(../images/amex-resy-power.jpg) no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    @media screen and (max-width: 767px) {
        background: url(../images/amex-resy-power-mobile.jpg) no-repeat;
        background-color: #006FCF;
        background-size: cover;
        background-position: center bottom;
    }
    .bcg2 {
        height: 110%;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: url(../images/amex-resy-power.jpg) no-repeat center bottom;
        z-index: -1;
        background-size: cover;

        @media screen and (max-width: 1023px) {
            display: none;
        }
    }
    .flourish {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: auto;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .resy-power-container {
        padding: 90px 20px 110px;
        @media screen and (max-width: 767px) {
            padding: 30px 0 60px;
        }
        .headline {
            text-align: center;
            border: 1px solid #D8D8D8;
            padding: 25px 200px;
            margin: 0 auto;
            width: 100%;
            max-width: 948px;
            margin-bottom: 50px;
            @media screen and (max-width: 767px) {
                border-top: 1px solid #D8D8D8;
                border-bottom: 1px solid #D8D8D8;
                border-left: 0px solid #D8D8D8;
                border-right: 0px solid #D8D8D8;
                padding: 20px 20px;
                margin-bottom: 30px;
            }
            h2 {
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 10px;
                @media screen and (max-width: 767px) {
                    font-size: 25px;
                    margin-bottom: 20px;
                    letter-spacing: 1px;
                }
            }
            p {
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .info {
            margin: 0 auto;
            width: 100%;
            max-width: 948px;
            @include flexbox; 
            justify-content: space-between;
            margin-bottom: 45px;
            @media screen and (max-width: 767px) {
                padding: 0 20px;
                flex-direction: column;
            }
            p {
                max-width: 425px;
                width: 100%;
                font-size: 16px;
                line-height: 25px;
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 25px;
                }
                &:first-child {
                    @media screen and (max-width: 767px) {
                        margin-bottom: 20px
                    }
                }
            }
        }
        img {
            margin: 0 auto;
            width: 220px;;
            height: auto;
            @media screen and (max-width: 767px) {
                width: 169px;
            }
        }
    }
}